<!DOCTYPE html>
<html>
<head>
  <style>
    body { font-family: Arial; padding: 30px; }
    h1 { color: #333; }
    .field { margin-bottom: 10px; }
  </style>
</head>
<body>
  <h1>Under Contract</h1>

  <div class="field"><strong>Name:</strong> {{name}}</div>
  <div class="field"><strong>Date:</strong> {{date}}</div>
   <div class="field"><strong>Email:</strong> {{email}}</div>
  <div class="field"><strong>Phone:</strong> {{phone}}</div>
  <!--div class="field"><strong>Status:</strong> {{task_status}}</div>
  <div class="field"><strong>Type:</strong> {{task_type}}</div>
  <div class="field"><strong>ID:</strong> {{item_id}}</div>
  <div class="field"><strong>Estimation:</strong> {{task_estimation}}</div-->

</body>
</html>